td.link {
  color: #363636;
  cursor: default;
}

td.link:hover {
  color: blue;
  cursor: pointer;
}

vue-logo {
  position: relative;
  width: 15%;
  height: 15%;
}

img.lifecycle {
  position: relative;
  width: 15%;
  height: 15%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 30px;
  background: #f9f7f5;
}

label.label {
  text-align: left;
}

.fixo{float: right; margin-right: 10px; margin-top: 0px; z-index: 1000;}

textarea,
.textarea {
  min-height: inherit;
  height: auto;
}

.intl-tel-input {
  display: table-cell;
}

.intl-tel-input .flag-container {
  z-index: 4;
}

.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}
